In [5]:
import pandas as pd

datos_formulario = pd.read_csv('datos_tarifas.csv')
datos_formulario

,Termino de potencia,Termino de consumo,Discriminacion horaria,Termino de potencia en valle,Termino de potencia en punta
0,3.0,3.0,NaN,NaN,NaN
1,4.6,200.0,NaN,NaN,NaN
2,5.7,200.0,NaN,NaN,NaN
3,NaN,597.0,No,3.4,4.6
4,NaN,8000.0,No,8.0,8.0