In [91]:
import numpy as np
import pandas as pd
import random as rd

In [92]:
#CREAMOS LOS REGISTROS SINTETICOS

#diccionario con 104 registros de tarifa con 20 registros cada una de total de kWh consumido en el periodo de facturacion

np.random.seed = 1309

consumos = {}

for tarifa in range(104):
    consumos[tarifa] = []
    for registro in range(21):
        valores = np.random.randint(100, 300)
        consumos[tarifa].append(valores)

#diccionario con registros de tarifa con 104 registros cada una de pesos de consumo para la pvpc y tarifas por tramos


pesos_3t = {}
for tarifa in range(104):
    pesos_3t[tarifa] = []
    while len(pesos_3t[tarifa]) < 21:
        a,b = np.random.randint(0,101,2)
        c = 100 - a - b
        while c < 0:
            a,b = np.random.randint(0,101,2)
            c = 100 - a - b
        pesos_3t[tarifa].append([a,b,c])

#diccionario con registros de tarifa con 105 registros cada una de pesos de consumo para tarifas de discriminacion horaria


pesos_2t = {}
for tarifa in range(104):
    pesos_2t[tarifa] = []
    while len(pesos_2t[tarifa]) < 21:
        d = np.random.randint(0,101)
        e = 100 - d
        pesos_2t[tarifa].append([d,e])

In [93]:
#APLANAMOS LOS DICCIONARIOS

registros = []
for tarifa, valores in consumos.items():
    for valor in valores:
        registros.append({'tarifa': tarifa, 'consumo_kWh': valor})

tramos_3t = []
for tarifa, valores in pesos_3t.items():
    for valor in valores:
        tramos_3t.append({'tarifa': tarifa, 'pesos': valor})

tramos_2t = []
for tarifa, valores in pesos_2t.items():
    for valor in valores:
        tramos_2t.append({'tarifa': tarifa, 'pesos': valor})

In [94]:
totales = pd.DataFrame(registros)

In [95]:
totales['%consumo_valle'] = None
totales['%consumo_llano'] = None
totales['%consumo_punta'] = None
totales['%consumo_8h'] = None
totales['%consumo_16h'] = None

In [96]:
for index, i in enumerate(tramos_3t):
        totales.loc[index, '%consumo_valle'] = i['pesos'][0]
        totales.loc[index, '%consumo_llano'] = i['pesos'][1]
        totales.loc[index, '%consumo_punta'] = i['pesos'][2]

for index, i in enumerate(tramos_2t):
        totales.loc[index, '%consumo_8h'] = i['pesos'][0]
        totales.loc[index, '%consumo_16h'] = i['pesos'][1]

In [97]:
totales

,tarifa,consumo_kWh,%consumo_valle,%consumo_llano,%consumo_punta,%consumo_8h,%consumo_16h
0,0,118,13,77,10,35,65
1,0,164,51,3,46,59,41
2,0,293,44,49,7,13,87
3,0,286,14,18,68,30,70
4,0,199,65,4,31,28,72
...,...,...,...,...,...,...,...
2179,103,263,71,16,13,1,99
2180,103,228,18,20,62,44,56
2181,103,100,56,9,35,64,36
2182,103,101,20,68,12,28,72
2183,103,263,10,23,67,98,2

In [98]:
totales = totales.rename(columns={'tarifa': 'id_tarifa'})

In [99]:
# Traigo la base de datos
df = pd.read_csv('../Datos/database_desafio.csv')

In [100]:
df.head()

,id,compañia,tarifa,tp_punta_euros/kwh/dia,tp_valle_euros/kwh/dia,peaje_tran_dist_pot_valle,peaje_tran_dist_pot_punta,peaje_tran_dist_ener_valle,peaje_tran_dist_ener_llano,peaje_tran_dist_ener_punta,termino_consumo_euros/kwh/hora,tc_valle_euros/kwh/hora,tc_llano_euros/kwh/hora,tc_punta_euros/kwh/hora,tc_8h_euros/kwh/hora,tc_16h_euros/kwh/hora,mercado,tipo,otros,alquiler_equipo_euros/dia,impuesto_actual,bono_social_euro/dia
0,0,Repsol,Mis 10 Horas,"0,0681918","0,0681918","0,000527","0,0081915","0,002195","0,008779","0,043893",NaN,NaN,NaN,NaN,"0,086415","0,172830",Libre,DH,NaN,"0,026557","5,11",NaN
1,1,Iberdrola,Plan Elige 8 Horas,"0,1081918","0,0424110","0,000527","0,0081915","0,002195","0,008779","0,043893",NaN,NaN,NaN,NaN,"0,096700","0,241000",Libre,DH,NaN,"0,026557","5,11",NaN
2,2,Iberdrola,Plan Noche,"0,1081918","0,0424110","0,000527","0,0081915","0,002195","0,008779","0,043893",NaN,NaN,NaN,NaN,"0,109000","0,239000",Libre,DH,NaN,"0,026557","5,11",NaN
3,3,Iberdrola,Plan Familias,"0,1081918","0,0424110","0,000527","0,0081915","0,002195","0,008779","0,043893",NaN,NaN,NaN,NaN,"0,103000","0,189000",Libre,DH,NaN,"0,026557","5,11",NaN
4,4,Iberdrola,Plan Verano,"0,1081918","0,0424110","0,000527","0,0081915","0,002195","0,008779","0,043893",NaN,NaN,NaN,NaN,"0,099000","0,219000",Libre,DH,NaN,"0,026557","5,11",NaN

In [101]:
# Uno los datos sinteticos con las tarifas
clientes_tarifas = pd.merge(totales, df, left_on='id_tarifa', right_on='id', how='left')

In [102]:
# Para que se vean todas las columnas
pd.set_option('display.max_columns', None)

In [103]:
clientes_tarifas

,id_tarifa,consumo_kWh,%consumo_valle,%consumo_llano,%consumo_punta,%consumo_8h,%consumo_16h,id,compañia,tarifa,tp_punta_euros/kwh/dia,tp_valle_euros/kwh/dia,peaje_tran_dist_pot_valle,peaje_tran_dist_pot_punta,peaje_tran_dist_ener_valle,peaje_tran_dist_ener_llano,peaje_tran_dist_ener_punta,termino_consumo_euros/kwh/hora,tc_valle_euros/kwh/hora,tc_llano_euros/kwh/hora,tc_punta_euros/kwh/hora,tc_8h_euros/kwh/hora,tc_16h_euros/kwh/hora,mercado,tipo,otros,alquiler_equipo_euros/dia,impuesto_actual,bono_social_euro/dia
0,0,118,13,77,10,35,65,0,Repsol,Mis 10 Horas,"0,0681918","0,0681918","0,000527","0,0081915","0,002195","0,008779","0,043893",NaN,NaN,NaN,NaN,"0,086415","0,172830",Libre,DH,NaN,"0,026557","5,11",NaN
1,0,164,51,3,46,59,41,0,Repsol,Mis 10 Horas,"0,0681918","0,0681918","0,000527","0,0081915","0,002195","0,008779","0,043893",NaN,NaN,NaN,NaN,"0,086415","0,172830",Libre,DH,NaN,"0,026557","5,11",NaN
2,0,293,44,49,7,13,87,0,Repsol,Mis 10 Horas,"0,0681918","0,0681918","0,000527","0,0081915","0,002195","0,008779","0,043893",NaN,NaN,NaN,NaN,"0,086415","0,172830",Libre,DH,NaN,"0,026557","5,11",NaN
3,0,286,14,18,68,30,70,0,Repsol,Mis 10 Horas,"0,0681918","0,0681918","0,000527","0,0081915","0,002195","0,008779","0,043893",NaN,NaN,NaN,NaN,"0,086415","0,172830",Libre,DH,NaN,"0,026557","5,11",NaN
4,0,199,65,4,31,28,72,0,Repsol,Mis 10 Horas,"0,0681918","0,0681918","0,000527","0,0081915","0,002195","0,008779","0,043893",NaN,NaN,NaN,NaN,"0,086415","0,172830",Libre,DH,NaN,"0,026557","5,11",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2179,103,263,71,16,13,1,99,103,Aduriz Energia,coste + fija,"0,0800388","0,0031407","0,000527","0,0081915","0,002195","0,008779","0,043893",NaN,"0,093282","0,129895","0,179284",NaN,NaN,Libre,TRAMOS,"3,72","0,026557","5,11",NaN
2180,103,228,18,20,62,44,56,103,Aduriz Energia,coste + fija,"0,0800388","0,0031407","0,000527","0,0081915","0,002195","0,008779","0,043893",NaN,"0,093282","0,129895","0,179284",NaN,NaN,Libre,TRAMOS,"3,72","0,026557","5,11",NaN
2181,103,100,56,9,35,64,36,103,Aduriz Energia,coste + fija,"0,0800388","0,0031407","0,000527","0,0081915","0,002195","0,008779","0,043893",NaN,"0,093282","0,129895","0,179284",NaN,NaN,Libre,TRAMOS,"3,72","0,026557","5,11",NaN
2182,103,101,20,68,12,28,72,103,Aduriz Energia,coste + fija,"0,0800388","0,0031407","0,000527","0,0081915","0,002195","0,008779","0,043893",NaN,"0,093282","0,129895","0,179284",NaN,NaN,Libre,TRAMOS,"3,72","0,026557","5,11",NaN
2183,103,263,10,23,67,98,2,103,Aduriz Energia,coste + fija,"0,0800388","0,0031407","0,000527","0,0081915","0,002195","0,008779","0,043893",NaN,"0,093282","0,129895","0,179284",NaN,NaN,Libre,TRAMOS,"3,72","0,026557","5,11",NaN

In [104]:
# comprobamos por tarifas si el merge es como debe

clientes_tarifas[clientes_tarifas['id_tarifa'] == 12]

,id_tarifa,consumo_kWh,%consumo_valle,%consumo_llano,%consumo_punta,%consumo_8h,%consumo_16h,id,compañia,tarifa,tp_punta_euros/kwh/dia,tp_valle_euros/kwh/dia,peaje_tran_dist_pot_valle,peaje_tran_dist_pot_punta,peaje_tran_dist_ener_valle,peaje_tran_dist_ener_llano,peaje_tran_dist_ener_punta,termino_consumo_euros/kwh/hora,tc_valle_euros/kwh/hora,tc_llano_euros/kwh/hora,tc_punta_euros/kwh/hora,tc_8h_euros/kwh/hora,tc_16h_euros/kwh/hora,mercado,tipo,otros,alquiler_equipo_euros/dia,impuesto_actual,bono_social_euro/dia
252,12,113,8,55,37,25,75,12,Endesa,ConectaEndesa,"0,0997032","0,0327914","0,000527","0,0081915","0,002195","0,008779","0,043893","0,095700",NaN,NaN,NaN,NaN,NaN,Libre,FIJO,NaN,"0,026557","5,11",NaN
253,12,117,72,28,0,13,87,12,Endesa,ConectaEndesa,"0,0997032","0,0327914","0,000527","0,0081915","0,002195","0,008779","0,043893","0,095700",NaN,NaN,NaN,NaN,NaN,Libre,FIJO,NaN,"0,026557","5,11",NaN
254,12,196,2,40,58,57,43,12,Endesa,ConectaEndesa,"0,0997032","0,0327914","0,000527","0,0081915","0,002195","0,008779","0,043893","0,095700",NaN,NaN,NaN,NaN,NaN,Libre,FIJO,NaN,"0,026557","5,11",NaN
255,12,119,22,48,30,71,29,12,Endesa,ConectaEndesa,"0,0997032","0,0327914","0,000527","0,0081915","0,002195","0,008779","0,043893","0,095700",NaN,NaN,NaN,NaN,NaN,Libre,FIJO,NaN,"0,026557","5,11",NaN
256,12,200,65,28,7,21,79,12,Endesa,ConectaEndesa,"0,0997032","0,0327914","0,000527","0,0081915","0,002195","0,008779","0,043893","0,095700",NaN,NaN,NaN,NaN,NaN,Libre,FIJO,NaN,"0,026557","5,11",NaN
257,12,112,36,24,40,40,60,12,Endesa,ConectaEndesa,"0,0997032","0,0327914","0,000527","0,0081915","0,002195","0,008779","0,043893","0,095700",NaN,NaN,NaN,NaN,NaN,Libre,FIJO,NaN,"0,026557","5,11",NaN
258,12,288,11,73,16,32,68,12,Endesa,ConectaEndesa,"0,0997032","0,0327914","0,000527","0,0081915","0,002195","0,008779","0,043893","0,095700",NaN,NaN,NaN,NaN,NaN,Libre,FIJO,NaN,"0,026557","5,11",NaN
259,12,129,6,70,24,28,72,12,Endesa,ConectaEndesa,"0,0997032","0,0327914","0,000527","0,0081915","0,002195","0,008779","0,043893","0,095700",NaN,NaN,NaN,NaN,NaN,Libre,FIJO,NaN,"0,026557","5,11",NaN
260,12,228,9,44,47,6,94,12,Endesa,ConectaEndesa,"0,0997032","0,0327914","0,000527","0,0081915","0,002195","0,008779","0,043893","0,095700",NaN,NaN,NaN,NaN,NaN,Libre,FIJO,NaN,"0,026557","5,11",NaN
261,12,168,63,5,32,15,85,12,Endesa,ConectaEndesa,"0,0997032","0,0327914","0,000527","0,0081915","0,002195","0,008779","0,043893","0,095700",NaN,NaN,NaN,NaN,NaN,Libre,FIJO,NaN,"0,026557","5,11",NaN
262,12,184,9,51,40,73,27,12,Endesa,ConectaEndesa,"0,0997032","0,0327914","0,000527","0,0081915","0,002195","0,008779","0,043893","0,095700",NaN,NaN,NaN,NaN,NaN,Libre,FIJO,NaN,"0,026557","5,11",NaN
263,12,187,2,59,39,81,19,12,Endesa,ConectaEndesa,"0,0997032","0,0327914","0,000527","0,0081915","0,002195","0,008779","0,043893","0,095700",NaN,NaN,NaN,NaN,NaN,Libre,FIJO,NaN,"0,026557","5,11",NaN
264,12,208,55,24,21,4,96,12,Endesa,ConectaEndesa,"0,0997032","0,0327914","0,000527","0,0081915","0,002195","0,008779","0,043893","0,095700",NaN,NaN,NaN,NaN,NaN,Libre,FIJO,NaN,"0,026557","5,11",NaN
265,12,139,23,37,40,88,12,12,Endesa,ConectaEndesa,"0,0997032","0,0327914","0,000527","0,0081915","0,002195","0,008779","0,043893","0,095700",NaN,NaN,NaN,NaN,NaN,Libre,FIJO,NaN,"0,026557","5,11",NaN
266,12,236,45,19,36,55,45,12,Endesa,ConectaEndesa,"0,0997032","0,0327914","0,000527","0,0081915","0,002195","0,008779","0,043893","0,095700",NaN,NaN,NaN,NaN,NaN,Libre,FIJO,NaN,"0,026557","5,11",NaN
267,12,229,2,63,35,42,58,12,Endesa,ConectaEndesa,"0,0997032","0,0327914","0,000527","0,0081915","0,002195","0,008779","0,043893","0,095700",NaN,NaN,NaN,NaN,NaN,Libre,FIJO,NaN,"0,026557","5,11",NaN
268,12,212,42,46,12,30,70,12,Endesa,ConectaEndesa,"0,0997032","0,0327914","0,000527","0,0081915","0,002195","0,008779","0,043893","0,095700",NaN,NaN,NaN,NaN,NaN,Libre,FIJO,NaN,"0,026557","5,11",NaN
269,12,139,27,2,71,9,91,12,Endesa,ConectaEndesa,"0,0997032","0,0327914","0,000527","0,0081915","0,002195","0,008779","0,043893","0,095700",NaN,NaN,NaN,NaN,NaN,Libre,FIJO,NaN,"0,026557","5,11",NaN
270,12,123,38,29,33,69,31,12,Endesa,ConectaEndesa,"0,0997032","0,0327914","0,000527","0,0081915","0,002195","0,008779","0,043893","0,095700",NaN,NaN,NaN,NaN,NaN,Libre,FIJO,NaN,"0,026557","5,11",NaN
271,12,171,25,48,27,66,34,12,Endesa,ConectaEndesa,"0,0997032","0,0327914","0,000527","0,0081915","0,002195","0,008779","0,043893","0,095700",NaN,NaN,NaN,NaN,NaN,Libre,FIJO,NaN,"0,026557","5,11",NaN
272,12,205,69,1,30,85,15,12,Endesa,ConectaEndesa,"0,0997032","0,0327914","0,000527","0,0081915","0,002195","0,008779","0,043893","0,095700",NaN,NaN,NaN,NaN,NaN,Libre,FIJO,NaN,"0,026557","5,11",NaN

In [87]:
clientes_tarifas.drop(columns = 'id',inplace=True)

In [88]:
transformar = clientes_tarifas.columns.drop(['tipo','mercado','tarifa','compañia'])
reemplazar = clientes_tarifas.columns.drop(['tipo','mercado','tarifa','compañia','id_tarifa','consumo_kWh'])

In [89]:
clientes_tarifas

,id_tarifa,consumo_kWh,%consumo_valle,%consumo_llano,%consumo_punta,%consumo_8h,%consumo_16h,compañia,tarifa,tp_punta_euros/kwh/dia,tp_valle_euros/kwh/dia,peaje_tran_dist_pot_valle,peaje_tran_dist_pot_punta,peaje_tran_dist_ener_valle,peaje_tran_dist_ener_llano,peaje_tran_dist_ener_punta,termino_consumo_euros/kwh/hora,tc_valle_euros/kwh/hora,tc_llano_euros/kwh/hora,tc_punta_euros/kwh/hora,tc_8h_euros/kwh/hora,tc_16h_euros/kwh/hora,mercado,tipo,otros,alquiler_equipo_euros/dia,impuesto_actual,bono_social_euro/dia
0,0,127,47,48,5,62,38,Repsol,Mis 10 Horas,"0,0681918","0,0681918","0,000527","0,0081915","0,002195","0,008779","0,043893",NaN,NaN,NaN,NaN,"0,086415","0,172830",Libre,DH,NaN,"0,026557","5,11",NaN
1,0,297,56,28,16,5,95,Repsol,Mis 10 Horas,"0,0681918","0,0681918","0,000527","0,0081915","0,002195","0,008779","0,043893",NaN,NaN,NaN,NaN,"0,086415","0,172830",Libre,DH,NaN,"0,026557","5,11",NaN
2,0,225,10,33,57,7,93,Repsol,Mis 10 Horas,"0,0681918","0,0681918","0,000527","0,0081915","0,002195","0,008779","0,043893",NaN,NaN,NaN,NaN,"0,086415","0,172830",Libre,DH,NaN,"0,026557","5,11",NaN
3,0,216,45,25,30,90,10,Repsol,Mis 10 Horas,"0,0681918","0,0681918","0,000527","0,0081915","0,002195","0,008779","0,043893",NaN,NaN,NaN,NaN,"0,086415","0,172830",Libre,DH,NaN,"0,026557","5,11",NaN
4,0,172,93,7,0,0,100,Repsol,Mis 10 Horas,"0,0681918","0,0681918","0,000527","0,0081915","0,002195","0,008779","0,043893",NaN,NaN,NaN,NaN,"0,086415","0,172830",Libre,DH,NaN,"0,026557","5,11",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2179,103,226,73,8,19,24,76,Aduriz Energia,coste + fija,"0,0800388","0,0031407","0,000527","0,0081915","0,002195","0,008779","0,043893",NaN,"0,093282","0,129895","0,179284",NaN,NaN,Libre,TRAMOS,"3,72","0,026557","5,11",NaN
2180,103,289,52,1,47,66,34,Aduriz Energia,coste + fija,"0,0800388","0,0031407","0,000527","0,0081915","0,002195","0,008779","0,043893",NaN,"0,093282","0,129895","0,179284",NaN,NaN,Libre,TRAMOS,"3,72","0,026557","5,11",NaN
2181,103,121,55,32,13,56,44,Aduriz Energia,coste + fija,"0,0800388","0,0031407","0,000527","0,0081915","0,002195","0,008779","0,043893",NaN,"0,093282","0,129895","0,179284",NaN,NaN,Libre,TRAMOS,"3,72","0,026557","5,11",NaN
2182,103,248,2,79,19,55,45,Aduriz Energia,coste + fija,"0,0800388","0,0031407","0,000527","0,0081915","0,002195","0,008779","0,043893",NaN,"0,093282","0,129895","0,179284",NaN,NaN,Libre,TRAMOS,"3,72","0,026557","5,11",NaN
2183,103,122,44,10,46,75,25,Aduriz Energia,coste + fija,"0,0800388","0,0031407","0,000527","0,0081915","0,002195","0,008779","0,043893",NaN,"0,093282","0,129895","0,179284",NaN,NaN,Libre,TRAMOS,"3,72","0,026557","5,11",NaN

In [90]:
for x in reemplazar:
    clientes_tarifas[x].apply(lambda x:x.replace(',','.'))

AttributeError: 'numpy.int32' object has no attribute 'replace'

In [62]:
clientes_tarifas

,id_tarifa,consumo_kWh,%consumo_valle,%consumo_llano,%consumo_punta,%consumo_8h,%consumo_16h,id,compañia,tarifa,tp_punta_euros/kwh/dia,tp_valle_euros/kwh/dia,peaje_tran_dist_pot_valle,peaje_tran_dist_pot_punta,peaje_tran_dist_ener_valle,peaje_tran_dist_ener_llano,peaje_tran_dist_ener_punta,termino_consumo_euros/kwh/hora,tc_valle_euros/kwh/hora,tc_llano_euros/kwh/hora,tc_punta_euros/kwh/hora,tc_8h_euros/kwh/hora,tc_16h_euros/kwh/hora,mercado,tipo,otros,alquiler_equipo_euros/dia,impuesto_actual,bono_social_euro/dia
0,0,127,47.0,48.0,5.0,62.0,38.0,0,Repsol,Mis 10 Horas,"0,0681918","0,0681918","0,000527","0,0081915","0,002195","0,008779","0,043893",NaN,NaN,NaN,NaN,"0,086415","0,172830",Libre,DH,NaN,"0,026557","5,11",NaN
1,0,297,56.0,28.0,16.0,5.0,95.0,0,Repsol,Mis 10 Horas,"0,0681918","0,0681918","0,000527","0,0081915","0,002195","0,008779","0,043893",NaN,NaN,NaN,NaN,"0,086415","0,172830",Libre,DH,NaN,"0,026557","5,11",NaN
2,0,225,10.0,33.0,57.0,7.0,93.0,0,Repsol,Mis 10 Horas,"0,0681918","0,0681918","0,000527","0,0081915","0,002195","0,008779","0,043893",NaN,NaN,NaN,NaN,"0,086415","0,172830",Libre,DH,NaN,"0,026557","5,11",NaN
3,0,216,45.0,25.0,30.0,90.0,10.0,0,Repsol,Mis 10 Horas,"0,0681918","0,0681918","0,000527","0,0081915","0,002195","0,008779","0,043893",NaN,NaN,NaN,NaN,"0,086415","0,172830",Libre,DH,NaN,"0,026557","5,11",NaN
4,0,172,93.0,7.0,0.0,0.0,100.0,0,Repsol,Mis 10 Horas,"0,0681918","0,0681918","0,000527","0,0081915","0,002195","0,008779","0,043893",NaN,NaN,NaN,NaN,"0,086415","0,172830",Libre,DH,NaN,"0,026557","5,11",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2179,103,226,73.0,8.0,19.0,24.0,76.0,103,Aduriz Energia,coste + fija,"0,0800388","0,0031407","0,000527","0,0081915","0,002195","0,008779","0,043893",NaN,"0,093282","0,129895","0,179284",NaN,NaN,Libre,TRAMOS,"3,72","0,026557","5,11",NaN
2180,103,289,52.0,1.0,47.0,66.0,34.0,103,Aduriz Energia,coste + fija,"0,0800388","0,0031407","0,000527","0,0081915","0,002195","0,008779","0,043893",NaN,"0,093282","0,129895","0,179284",NaN,NaN,Libre,TRAMOS,"3,72","0,026557","5,11",NaN
2181,103,121,55.0,32.0,13.0,56.0,44.0,103,Aduriz Energia,coste + fija,"0,0800388","0,0031407","0,000527","0,0081915","0,002195","0,008779","0,043893",NaN,"0,093282","0,129895","0,179284",NaN,NaN,Libre,TRAMOS,"3,72","0,026557","5,11",NaN
2182,103,248,2.0,79.0,19.0,55.0,45.0,103,Aduriz Energia,coste + fija,"0,0800388","0,0031407","0,000527","0,0081915","0,002195","0,008779","0,043893",NaN,"0,093282","0,129895","0,179284",NaN,NaN,Libre,TRAMOS,"3,72","0,026557","5,11",NaN
2183,103,122,44.0,10.0,46.0,75.0,25.0,103,Aduriz Energia,coste + fija,"0,0800388","0,0031407","0,000527","0,0081915","0,002195","0,008779","0,043893",NaN,"0,093282","0,129895","0,179284",NaN,NaN,Libre,TRAMOS,"3,72","0,026557","5,11",NaN

In [61]:
for x in transformar:
    if clientes_tarifas[x].dtype == 'object':
        clientes_tarifas[x] = clientes_tarifas[x].astype('float32')

ValueError: could not convert string to float: '0,0681918'

In [ ]:
# CALCULOS DE TARIFA

#TERMINOS FIJOS IGUALES PARA TODOS

    peaje_pot_punta = 
    peaje_pot_valle =
    peaje_ene_punta =
    peaje_ene_punta = 

#PVPC

    #termino fijo
    peaje_pot_punta = 
    peaje_pot_valle =
    peaje_ene_punta =
    peaje_ene_punta = 
#FIJA


#TRAMOS


#DISCRIMINACION HORARIA